/*
    This file contains all the style that is consistent across multiple pages
    this includes: header, nav, footer and other misc elements like the "to top" button
    - Adam
*/


/*  
    ROOT - contains global colors and some consistently used styles like border and fonts
*/
html {
    font-size: 14px;

    --font-title: Grandstander;
    --font-body: Montserrat;

    --weight-bold: 800;
    --weight-mid: 600;

    --color-section: #eec062;
    --color-div: #cd5753;

    --color-dark: #41241c;
    --color-mid: #f7d299;
    --color-bright: #f1e5e5;
    --color-span: #cd5753;

    --color-shadow: #41241c99;
    --color-hovered: #ec8e4f;
    --color-submit: #4ee630;

    --rounding-section: 5em;
    --rounding-div: 2.5em;
    --border-05: solid 0.5em #41241c;

}


/* erases some default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    list-style-type: none;
    cursor: context-menu;
}


/* BODY - backgrounds are all the same color */
body {
    background-color: var(--color-dark);
}


/* 
    HEADER style - pretty much a container for an svg graphic that has three icons layered above.
*/


header {
    background-color: var(--color-dark);
    position: relative;
    z-index: 1;
    margin: 2em auto;
    display: grid;
    height: 20em;
    width: 100em;
    box-shadow: 0 2em 2em var(--color-dark);
    overflow: hidden;
    border-radius: var(--rounding-section);
}

/* the header graphic */
#header_image {
    position: relative;
    z-index: 1;
    height: 20em;
    margin: 0;
    width: 160em;
}

/* the icons layered above */
.header_buttons {
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    top: 10em;
    z-index: 2;
    height: 7em;
    width: 7em;
    transition: 300ms;
}

[alt=RGU] {
    filter: hue-rotate(60deg);
}

[alt="high contrast toggle"] {
    filter: hue-rotate(120deg);
}

.header_buttons:hover {
    transform: translateY(-50%) scale(1.4);
}

header a {
    position: absolute;
    z-index: 2;
}

/* 
    NAV - Multiple vector graphics in a horizontal list
    position of specific tabs changed inline 
*/

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

nav {
    display: grid;
    margin: 0 auto;
    top: -14em;
    height: 12em;
    width: 70em;
    padding-bottom: 2em;
    position: relative;
}

nav ul {
    margin: 0 auto;
}

nav li {
    position: absolute;
}

.nav_tab,
.nav_hometab {
    cursor: pointer;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    z-index: 0;
    height: 20em;
    transition: 500ms;
    border-radius: 2em;
}

.nav_hometab {
    top: 2em;
}

.nav_tab:hover {
    top: 3em;
}

.nav_hometab:hover {
    top: 5em;
}

/* 
    SECTION - styling for the sections of all pages. Sections are the large yellow areas;
    the parents of all minor content.
*/

section {
    position: relative;
    display: grid;
    min-height: 80em;
    width: 100em;
    background: var(--color-section);
    border-radius: var(--rounding-section);
    margin: 0 auto 4em;
}

/* the big titles in sections */
.section_heading {
    padding-bottom: 0.25em;
}

/* Intro Section */
.intro_section {
    min-height: 0;
}

.intro_subheading {
    max-width: 80%;
}

.intro_graphic {
    display: grid;
    margin: 2em auto 0;
    padding: 2em 0;
    width: 100%;
    height: 20em;
}


/* 
    FOOTER - contains styling for the footer which is consistent across all pages be sure
    to change the position of the <span> in the HTML to cover your name on pages you created
*/

footer {
    background: var(--color-section);
    display: grid;
    border-radius: 5em;
    text-align: center;
    margin: 4em auto;
    height: 4em;
    width: 100em;
}

/* A span highlighting the creator of the current page */
.footer_author {
    cursor: inherit;
}

/*
    TEXT - This section contains style for all text elements eg p, h1, h2, etc.
    if you want to have a different style, specify a class and change it in the page's
    own style sheet.
*/

/* all */
h1,
h2,
h3,
p,
label {
    margin: 0 auto;
    padding-top: 0.5em;
    max-width: 80%;
    font-size: 8em;
    color: var(--color-dark);
    text-align: center;

    font-family: var(--font-title);
    font-weight: var(--weight-bold);
}


/* body text style */
p,
label {
    padding-bottom: 0.5em;
    max-width: 60%;
    font-size: 3em;
    font-family: var(--font-body);
    font-weight: var(--weight-mid);
}

/* unique text style for footer */
.footer_text {
    font-family: var(--font-title);
    font-size: 2em;
    max-width: 100%;
}

/* span is reserved generally for highlighted linking text */
span {
    color: var(--color-span);
    font-weight: var(--weight-bold);
    font-family: inherit;
    cursor: pointer;
}

/*
    EXTRA - below are some styles for miscellaneous elements that are used in multiple pages
*/


/* TO TOP BUTTON (uses the scroll to script) */
#returnToTop {
    position: fixed;
    display: none;
    padding: 0.5em;
    background: var(--color-section);
    text-align: center;
    cursor: pointer;
    border: var(--border-05);
    border-width: 0.25em;
    width: 4em;
    height: 4em;
    bottom: 1em;
    right: 2em;
    z-index: 777;
    /*top*/
    font-weight: var(--weight-body);
    font-size: 2em;
    color: var(--color-dark);
    border-radius: var(--rounding-section);
    transition: 200ms;
}

#returnToTop:hover {
    background: var(--color-hovered);
    border-color: var(--color-shadow);
    box-shadow: 0 0 1em var(--color-shadow);

}


/* MODAL MENU (appears after submitting review) */

#modal_container {
    display: none;
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 55555;
    /* on top */
    background: var(--color-shadow);
    width: 100%;
    height: 100%;
    transition: 1s;
}

#modal_content {
    width: 80em;
    position: inherit;
    bottom: 2em;
    height: 30em;
    background: var(--color-section);
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    border-radius: var(--rounding-section);

}

#modal_content h1 {
    color: var(--color-dark);
    font-family: grandstander;
    text-align: center;
    padding-top: 0.75em;
    font-size: 6em;
}

#modal_content p {
    padding-top: 1em;
    color: var(--color-dark);
}

/* Music Button - used on Quiz and Game pages */

#music_button {
    width: 9em;
    height: 9em;
    padding: 3em;
    transition: 300ms;
}

#music_button[alt="quiz music toggle"] {
    margin-left: 85%;
    display: grid;

}

#music_button[alt="game music toggle"] {
    position: absolute;
    top: 0%;
    left: 77.5%;
    margin: 0;
}

#music_button:hover,
.side_panel img:hover {
    cursor: pointer;
    transform: scale(1.2);
}