/*
Form CSS

This page contains styles for forms used in the review and contact pages
things are subject to change, feel free to override anything with your own style sheets
 - Adam
*/

form {
    display: grid;
    margin: 4em auto 0;
}

form input,
form textarea {
    cursor: text;
    display: grid;
    margin: 0 auto;
    color: var(--color-bright);
    background: var(--color-div);

    font-family: var(--font-body);
    text-indent: 1em;
    font-size: 2em;
    font-weight: var(--weight-mid);

    border: var(--border-05);
    border-width: 0.25em;
    border-radius: var(--rounding-section)
}

form h3 {
    font-size: 2.5em;
}

form input {
    height: 2em;
    width: 15em;
}

::placeholder {
    color: var(--color-bright);
    opacity: 0.5;
}

form textarea {
    height: 5em;
    width: 30em;
    font-size: 2em;
    text-indent: 0;
    padding: 1em;
    border-radius: var(--rounding-div);
    resize: none;
}

form input[type=range] {
    appearance: none;
    width: 17.5em;
    height: 2.5em;
    overflow: hidden;
    border-radius: var(--rounding-section);
    cursor: pointer;
    transition: 300ms;
}

form input[type=range]::-webkit-slider-thumb {
    border-radius: var(--rounding-section);
    appearance: none;
    width: 2em;
    height: 2em;
    border: var(--border-05);
    border-width: 0.25em;
    background: var(--color-bright);
}

form input[type=submit],
form input[type=button] {
    height: 5em;
    width: 20em;
    cursor: pointer;
    text-align: center;
    border: var(--border-05);
    border-width: 0.25em;

    transition: 300ms;
}

form input[type=submit]:hover {
    background: var(--color-submit);
    border-color: var(--color-bright);
    box-shadow: 0 0 0.5em var(--color-submit);
}

form input[type=button] {
    font-size: 2em;
    border-radius: 2em;
}

form input[type=button]:hover {
    background: var(--color-hovered);
    box-shadow: 0 0 0.5em var(--color-hovered);
}

/* Review Form Content */

#reviewImage_container {
    position: relative;
    display: grid;
    margin: 0 auto;

    height: 10em;
    width: 20em;
    background: var(--color-div);
    border-radius: var(--rounding-section);
    border: var(--border-05);
    cursor: pointer;

    transition: 500ms;
}

#reviewImage_container:hover {
    background: var(--color-hovered);
    box-shadow: 0 0 0.5em var(--color-hovered);
    border-color: var(--color-bright);
}

#reviewImage_container p {
    color: var(--color-bright);
    font-size: 2em;
    max-width: 100%;
    display: grid;
    margin: auto;
}

#reviewImage {
    margin: 0 auto;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    outline: none;
    display: inline;
    cursor: pointer;
}

/* "label" that shows current value of range slider */
#currentScore {
    font-family: var(--font-title);
    font-size: 5em;
}

/* Used only in the review page - a <p> that displays name of file inputted */

#uploadedFile {
    font-size: 2em;
}