/* html {
  font-size: 14px;

  --font-title: Grandstander;
  --font-body: Montserrat;

  --weight-bold: 800;
  --weight-mid: 600;

  --color-section: #eec062;
  --color-div: #cd5753;

  --color-dark: #41241c;
  --color-mid: #f7d299;
  --color-bright: #f1e5e5;
  --color-span: #cd5753;

  --color-shadow: #41241c99;
  --color-hovered: #ec8e4f;
  --color-submit: #4ee630;

  --rounding-section: 5em;
  --rounding-div: 2.5em;
  --border-05: solid 0.5em #41241c; 

} */

/* main content - note, page primarily uses bootstrap. This CSS exists to override some styles */

.caro_section {
  position: relative;
  background: var(--color-section);
  border-radius: var(--rounding-section);
  padding: 5em 0;
  overflow: hidden;
  width: 100%;
  min-height: 0;
  height: 32em;
  margin: auto;
}

.caro_section h1,
.caro_section p {
  margin: 0;
  padding: 0;
  font-size: 4em;
  min-width: 100%;
  
  color: var(--color-bright);
  text-shadow: var(--color-dark) 0 0 0.25em;
}


.caro_section p {
  font-size: 2em;
}

.caro_section img {
  display: grid;
  margin: 0 auto;
  width: 50em;
  height: 30em;
  border-radius: var(--rounding-section);
  border: var(--border-05);
  background: var(--color-dark);
  border-width: 1em;
}

.caro_item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: 0%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  
  display: inline-block;
  width: 8em;
  height: 8em;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2341251d' width='16' height='16' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2341251d' width='16' height='16' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}


.carousel-indicators {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}



/* 
Gallery Style

Contains styling for the gallery page

*/ 

.gallery_section {
  margin: 8em auto 0;
}

.gallery_section img {
  width: 50%;

  margin: 4em auto;
  display: grid;

  border: var(--border-05);
  border-width: 1em;
  background: var(--color-dark);
  border-radius: var(--rounding-div);
}

.gallery_section div {
  width: 80%;
  margin: 8em auto;
  border-radius: var(--rounding-section);
  background: var(--color-div);
  border: var(--border-05);
}

section ol {
  display: grid;
  margin: 0 auto 8em;
  text-align: center;
  
}

section ol p {
  max-width: 90%;

}

.gallery_section h1 {
  max-width: 80%;
  padding-top: 1em;
}

.gallery_section h2 {
  color: var(--color-section);
  padding: 0.5em 0 0.25em;
  transition: 500ms;
  font-size: 6em;
  cursor: pointer;
}

.gallery_section h2:hover {
  color: var(--color-bright);
}

.gallery_section p {
  color: var(--color-bright);
} 



.gallery_section ol {
  display: none;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0 4em;
}

.gallery_section li {
  font-family: var(--font-body);
  margin: 0 auto;
  font-size: 2em;
  color: var(--color-dark);
  font-weight: var(--weight-mid);
}

/* div containing text */
.gallery_text_div {
  width: 80%;
  background-color: var(--color-section);
  border: var(--border-05);
}

/* p text containing the recipe */
.gallery_desc {
  display: none;
  font-size: 2em;
  max-width: 90%;
  padding: 0 0 2em;
}
