/* 
    Game Page CSS
        Below is the styling for the game page, Biscuit Bash
        - Adsu

*/

.intro_section {
    height: 60em;
}

.intro_graphic {
    margin-bottom: 4em;
}

#start_button {
    position: absolute;
    top: 0;
    left: 0;
}

/*game section*/

.game_section {
    display: none;
    position: relative;
    height: 40em;
}

.intro_section ol,
.game_section ol {
    height: 10em;
    float: left;
    margin: 0 auto 12em;
}

.intro_section li,
.game_section li {
    display: inline-block;
    padding: 0 4em;
}

.intro_button {
    width: 20em;
    height: 10em;
    border: var(--border-05);
    border-radius: var(--rounding-section);
    background-color: var(--color-div);
}

.intro_button p {

    font-size: 2em;
    margin: 0 auto;
    max-width: 100%;
    color: var(--color-bright);
}

.intro_button:hover {
    cursor: pointer;
    background-color: var(--color-hovered);
    transition: 500ms;
}

.intro_button:hover>p {
    cursor: pointer;
    color: var(--color-dark);
    transition: 500ms;
}

/* Main game section */

#timer {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0.5em;
    padding: 0;
    font-size: 7em;
}

.game_section h1 .game_section p {
    padding: none;
    margin: 0 auto;
}

#main_panel,
.side_panel {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 14em;
    display: inline;
    height: 55em;
    border-radius: var(--rounding-section);
    border: var(--border-05);
}

#main_panel {
    width: 40em;
    background-color: var(--color-mid);
}

.side_panel {
    width: 20em;
    background-color: var(--color-div);
}

/* Main Panel */

#currentBiscuit {
    cursor: pointer;
    display: grid;
    margin: 0 auto;
    padding: 8em;
    padding-bottom: 4em;
    height: 16em;
    width: 16em;
    animation: pulse 3s infinite alternate;
    /* pulse animation scales up and down in pulse motion */
}

#counter {
    display: grid;
    margin: 0 auto;
    background-color: var(--color-dark);
    height: 5rem;
    width: 20rem;
    border-radius: var(--rounding-div);
    color: var(--color-bright);
    text-align: center;
    font-size: 3em;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);
    }
}

/* style for side panels */

.side_panel ol {
    height: 50em;
    margin: 4em auto 0;

}

.side_panel input {
    display: grid;
    margin: 0 auto 2em;
    width: 1.5em;
    height: 1.5em;
}

.side_panel label {
    color: var(--color-bright);
    font-size: 1.25em;
    display: grid;
    margin: 0 auto;
}

.side_panel img {
    display: grid;
    margin: 2em auto 0;
    width: 12em;
    height: 12em;
    transition: 300ms;
}

/* style for the "next up" section below the main panel */
.next_div {
    position: relative;
    height: 15em;
}

.next_div p {
    margin: 0.5em auto 0;
    padding: 0;

}

#nextUnlock {
    position: absolute;
    transform: translateX(-50%);
    top: 4em;
    left: 20em;
    width: 7em;
    height: 7em;
    filter: brightness(0.3) grayscale(100%);
}


/* Help Section style */

#help_section {
    min-height: 60em;
}

#help_section p {
    max-width: 80%;
    margin-bottom: 2em;
}



/* style for game modal content */

#modal_content img {
    display: grid;
    margin: 2em auto 0;
    height: 13em;
    width: 13em;
}

#modal_content h1 {
    font-size: 4em;
    margin: -0.5em auto 0;
}

#modal_content p {
    font-size: 2em;
    margin: -1em auto 0;
}