/*
    Quiz Page CSS
    This file contains all the style for Robert's Quiz
    - Adam
*/


.quiz_section {
  color: var(--color-dark);
  position: relative;
  min-height: 50em;
}


.intro_section h1 {
  margin-bottom: none;
  font-size: 5em;
}

#text {
  font-family: var(--font-body);
  font-weight: var(--weight-mid);
  font-size: 2.5em;
  margin: 0 auto 2rem;
  text-align: center;
  width: 85%;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 1.5em;
  margin: 1em 0 5em;
}

.btn {
  margin: 0 auto;
  background-color: var(--color-div);
  border: var(--border-05);
  border-width: 0.25em;
  border-radius: var(--rounding-section);
  padding: 0.5rem;
  color: var(--color-bright);

  font-family: var(--font-body);
  font-weight: var(--weight-mid);
  font-size: 2em;
  cursor: pointer;
  width: 90%;

  transition: 300ms;
}

.btn:hover {
  background-color: var(--color-hovered);
  color: var(--color-dark);
}