/* style for the contact page */

.contact_Section {
    display: grid;
    margin: 4em auto 0;
    width: 100em;
    background: #eec062;

    border-radius: 5em;
}

.contact_Section h1 {
    color: #41251d;
    padding: 1em 0 0;
    margin: 0 auto;
    font-size: 8em;
    font-family: Grandstander;
}

.contact_Section h2 {
    color: #41251d;
    padding: 1em 0 0;
    margin: 0 auto;
    text-align: center;
    font-size: 4em;
    font-family: Grandstander;
}

.contact_Section p {
    color: #41251d;
    margin: 0 auto;
    font-size: 3em;
    font-weight: 600;
    width: 80%;
    padding: 1em 0;
    text-align: center;
    font-family: Montserrat;
}


iframe {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: 500ms;
}

iframe:hover {
    opacity: 1;
}

.contact_map {
    margin: 0 auto 8em;
    display: grid;
    height: 35em;
    padding: 0em;
    border-radius: 5em;
    overflow: hidden;
    background: #41251d;
    border: solid #41251d 1em;
    transition: 500ms;
}

.contact_list_container {
    margin: 0 auto;
    display: grid;
    width: 80%;
}

.contact_section ol {
    display: inline;
    margin: 0 auto;
    
}

.contact_Section li {
    list-style-type: none;
    width: 50%;
    float: left;
}

.contact_media_container {
    width: 80%;
    display: grid;
    margin: 2em auto 8em;
    height: 40em;

    border: solid #41251d 1em;
    background: #41251d;
    border-radius: 2.5em;
}

.contact_media {
    overflow: auto;
    border-radius: 2em;
}

.contact_media::-webkit-scrollbar {
    display: none;
}