/*
below is the styles for forms
This is used in the review and contact pages
things are subject to change, feel free to override anything with your own style sheets
 - Adam
*/


.form_Section {
    position: relative;
    display: grid;
    min-height: 80em;
    width: 100em;
    background: #eec062;
    border-radius: 5em;
    margin: 4em auto 0;

    color: #2c0907;
    font-family: Grandstander;
    text-align: center;
}


.form_Section h1 {
    color: #41241c;
    font-size: 8em;
    padding: 1em 0 0;
}

.form_Section p {
    color: #41251d;
    margin: 0 auto;
    font-size: 3em;
    font-weight: 600;
    width: 80%;
    padding: 1em 0;
    text-align: center;
    font-family: Montserrat;
}

form {
    display: grid;
    margin: 0 auto;
}


form label {
    display: grid;
    font-family: montserrat;
    font-size: 2em;
    font-weight: 800;
    color: #41251d;
    margin: 0 auto;
}

form input,
form textarea {
    display: grid;
    margin: 0 auto;
    background: #cd5753;
    font-family: montserrat;
    color: #fff9f9;
    border: none;
    outline: none;
    text-indent: 1em;
    font-size: 2em;
    font-weight: 600;
}

form h3 {
    margin: 0 auto;
    font-size: 2em;
    color: #2c0907;
    font-weight: 700;
}

form input {
    border: solid 0.5rem #41251d;
    height: 2em;
    width: 15em;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 5em;

}


::placeholder {
    color: #fff9f9;
    opacity: 0.5;
}

form textarea {
    border: solid 0.5rem #41251d;
    height: 5em;
    width: 30em;
    font-size: 2em;
    text-indent: 0;
    padding: 1em;
    border-radius: 2em;
    resize: none;
}

form input[type=range] {
    appearance: none;
    width: 30em;
    height: 4em;
    overflow: hidden;
    border-radius: 2em;
    cursor: pointer;
    transition: 300ms;
    font-size: 1em;
}

form input[type=range]::-webkit-slider-thumb {
    border-radius: 5em;
    appearance: none;
    width: 3em;
    height: 3em;
    background: #fff9f9;
}

form input[type=submit],
form input[type=button] {
    height: 5em;
    width: 20em;
    cursor: pointer;
    transition: 300ms;
    text-align: center;
}

form input[type=submit]:hover {
    background: #4ee630;
    border: solid #fff9f9 0.5rem;
    box-shadow: 0 0 0.5em #4ee630;
}

form input[type=button] {
    font-size: 2em;
    border-radius: 2em;
}

form input[type=file] {
    margin: -1em 0 0;
}

form input[type=button]:hover {
    background: #ec8e4f;
    border: solid #fff9f9 0.5rem;
    box-shadow: 0 0 0.5em #ec8e4f;

}