        /* Middle Section with links */

        .section_Div {
            position: relative;
            display: grid;
            height: 90em;
            width: 110em;
            background: #eec062;
            border-radius: 5em;
            margin: 0 auto;
        }

        .section_Div ul {
            position: relative;
            top: 5em;
            padding: 0;
            margin: 0;
            list-style-type: none;
            margin: 0 auto;
        }

        .section_Div li {
            display: inline-block;
            position: relative;
            background:#cd5752;
            border: #41241c solid 0.5em;
            width: 50em;
            height: 20em;
            border-radius: 2em;
        }
        
        .section_Title {
            display: block;
            margin: 0.5em 0 0 0.5em;
            font-family: Grandstander;
            font-size: 4em;
            font-weight: 800;
            color: #ffc040;
        }

        .section_Text {
            float: left;
            margin: 0.5em 0 0 1.5em;
            text-align: left;
            word-wrap: break-word;            
            width: 40%;
            font-family: montserrat;
            
            font-size: 2em;
            color: #f7d299;
        }

        .section_Icon {
            position: absolute;
            float: right;
            display: inline;
            z-index: 555;
            width: 12em;
            height: 12em;
            margin: 0 6em;
            transition: 500ms;
            cursor: pointer;
        }

        .section_Icon:hover {
            transform: scale(1.3);
        }

        .section_Div a {
            display: grid;
            position: relative;
            z-index: 2;
        }

        /* 
        COLLAPSE SECTION 
            contains styling for the collapse section. This section uses an svg file called "DDICON.svg"
            you can add additional elements within the section
            note: you'll need the javascript for functionality
        */

        #collapse_icon {
            position: relative;
            margin: -4em auto 0;
            z-index: 2;
            display: grid;
            
            cursor: pointer;
            height: 9em;
            width: 9em;
            transform: rotate(0deg);
            transition: 0.5s;
        }
           
        #collapse_section {
            display: grid;
            background-color: #eec062;
            margin: 4em auto;

            height: 0em;
            opacity: 0;

            width: 100em;
            position: relative;
            top: -5em;
            z-index: -1;
            border-radius: 50px;

            transition: 1s;
        }

        #collapse_graphic {
            display: grid;
            margin: auto;
            width: 100%;
            opacity: 0;
            transition: 300ms;
        }
    

        

        