        /* serves as the introduction to the page; contains graphic and flavor text */
        .intro_Section {
            position: relative;
            display: grid;
            height: 30em;
            width: 100em;
            background: #eec062;
            border-radius: 5em;
            margin: 0 auto 8em;
        }

        .intro_Section img {
            width: 100%;
            height: 20em;
        }

        .intro_Section h1 {
            margin: 0 auto;
            color: #41241c;
            font-size: 2.5em;
            font-family: montserrat;
            font-weight: 600;
            height: 1em;
        }

        .intro_Section span {
            color: #cd5753;
            font-weight: 800;            
            cursor: pointer;
        }
        

        /* Review Section - contains reviews. Height is dependent on number of reviews */

        .review_Section,
        .form_Section {
            position: relative;
            display: grid;
            min-height: 80em;
            width: 80em;
            background: #eec062;
            border-radius: 5em;
            margin: 0 auto;

            color: #2c0907;
            font-family: Grandstander;
            text-align: center;
        }

        .review_Section>h1 {
            color: #41241c;
            font-size: 8em;
            margin: 1em 0 0.5em;
        }

        /* REVIEW - contains review heads and bodies */

        .review_Div {
            position: relative;
            display: grid;
            height: 30em;
            width: 80%;
            margin: 0 auto;
            font-size: 1.2em;
        }

        /* REVIEW HEAD - contains title, subtitle, author, score and image */

        .review_head {
            position: absolute;
            border: #2c0907 solid 0.25em;
            box-shadow: #2c0907 2em 0 2em;
            z-index: 1;
            display: grid;
            height: 25em;
            width: 20em;
            background: #f7d299;
            border-radius: 2.5em;
            margin: 0 auto;
            transition: 500ms;
        }

        [title = altHead] {
            right: 0;
            box-shadow: #2c0907 -2em 0 2em;

        }

        .review_head:hover {
            transform: scale(1.4);
            box-shadow: none;
        }

        .review_head h1 {
            color:  #2c0907;
            font-size: 3em;
            font-family: grandstander;
            font-weight: 1000;
            padding-top: 0.5em;
            max-height: 2em;
            margin: 0 auto;
        }

        .review_head h2 {
            color:  #41241c;
            font-size: 1em;
            font-family: montserrat; 
            font-weight: 800;
            width: 90%;   
            margin: 0 auto;
            max-height: 3em; 
               
        }

        .review_head span {
            font-style: italic; 
        }

        .review_head img {
            max-width: 12em;
            max-height: 10em;
            overflow: hidden;
            display: grid;
            margin: 0 auto;
            border: #2c0907 5px solid;
            border-radius: 1em;
        }

        .score_container {
            position: relative;
            display: grid;
            font-family: grandstander;
            background: #41241c;
            height: 3em;
            width: 90%;
            margin: 0 auto;
            border-radius: 5em;
        }

        .score_bar {
            display: grid;
            height: 50%;
            margin: 0.75em;
            border-radius: 5em;   
        }

        /* not working */
        [title = 1] {
            background: red;
            width: 18%;
        }

        [title = 2] {
            background: orangered;
            width: 36%;
        }
        [title = 3] {
            background: orange;
            width: 54%;
        }
        [title = 4] {
            background: yellow;
            width: 72%;
        }
        [title = 5] {
            background: lime;
            width: 90%;
        }


        

        .review_Body {
            position: absolute;
            z-index: 0;
            display: grid;
            height: 20em;
            width: 50em;
            margin: 2.5em 0;
            background: #cd5753;
            border-radius: 2.5em;
            overflow: hidden;
            
            border: #2c0907 solid 0.25em;
            transition: 500ms;
        }

        .review_Body p {
            padding: 1.25em 2em;
            margin: 0 0 0 10em;
            color: #f1e5e5;
            text-align: left;
            font-family: montserrat;
            max-width: 80%;
            max-height: 80%;
            font-size: 1.2em;
        }
        [title=altBody] p {
            margin: 0 10em 0 0;
            text-align: right;
        }
        
        .review_Body:hover {
            margin-left: 9em;
        }

        [title = altBody]:hover {
            margin-left: -6em;
        }


        /* 
        Review Form Section 
            This section contains styling for the form that users can fill out if they want to
            leave their own review.

            Users will input their:
                Title
                Subheading
                Name
                main body text of their review
                a score
                an image file of the biscuit in question
        */

        .form_Section {
            margin-top: 8em;
        }

        .form_Section h1 {
            font-size: 6em;
            padding: 1em 0;
        }

        #currentScore {
            margin-top: 0;
            padding-top: 0.5em;
            font-size: 4em;
        }


#reviewImage_container,
#returnToTop {
    position: relative;
    display: grid;
    margin: 0 auto;
    height: 7em;
    width: 16em;
    background: #cd5753;
    border-radius: 2em;
    color: #f1e5e5;
    border: solid #2c0907 0.25em;    
    transition: 500ms;        
}

#reviewImage_container:hover {
    background: #ec8e4f;
    box-shadow: 0 0 0.5em #ec8e4f;
    border: solid rgb(229, 236, 208) 0.25em;
}

form h3 {
    margin: 1em auto;
    font-size: 2em;
    color: #2c0907;
    font-weight: 700;
}

#reviewImage_container h3 {
    color: #f1e5e5;
    font-size: 1.5em;
    margin: 0.5em;
    font-family: montserrat;
    font-weight: 600;
    text-align: center;
}

#reviewImage {
    margin: 0 auto;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    outline: none;
    display: inline;
    cursor: pointer;
}




        